<div class="container pad-top">
  <a ui-sref="newSite" class="btn-primary btn-lg nodecoration">Add New Site</a>
  <table class="table sitetable">
      <tr>
          <td><h3>All Sites</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="site in sites">
          <td>{{site.name}}</td>
          <td>{{site.description}}</td>
          <td>{{site.yearStarted}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewSite({id:site.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteSite(site)">Delete</a>
          </td>
      </tr>
  </table>
</div>
